body{
	margin:0;
	width:250px;
}

#ae_setup_title{
	font-size:1.2em;
	margin:5px 5px 0 5px;
}

#ae_setup_list{
	list-style:none;
	padding-left:0;
}

#ae_setup_list li{
	margin:0;
	padding:10px;
	border-top:1px solid #dadce0;
	color:#000;
	text-decoration: none;
	font-size:1.1em;
	cursor: pointer;
}

#ae_setup_list li:first-child{

}

#ae_setup_list li:last-child{
	border-bottom:none;
}

#ae_setup_list li:hover{
	background:#dadce0;
}

.act_deact{
	display:none;
}

#notification_for_user{
	padding:10px;
	font-size:1.5em;
}